.explore-btn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 1.34rem;
  letter-spacing: 1.25px;
}

@media screen and (min-width: 768px) {
  .explore-btn {
    height: 242px;
    width: 242px;
    font-size: 2.13rem;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1024px) {
  .explore-btn {
    height: 274px;
    width: 274px;
  }
}
