/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Barlow Condensed', 'Bellefair', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}